@model EmployeeEditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-12">
        <h4 class="text-center">Edit Applicant</h4>
        <form asp-action="Edit" asp-controller="Employees" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group row mb-1">
                <label asp-for="Name" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-6">
                    <input type="text" asp-for="Name" class="form-control form-control-sm" />
                    <span asp-validation-for="Name" class="text-danger" style="font-size:small" />
                </div>
            </div>

            <div class="form-group row mb-1">
                <label asp-for="Gender" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-6">
                    <select type="text" asp-for="Gender" class="form-select form-select-sm"
                            asp-items="Html.GetEnumSelectList<Gender>()">
                        <option value="" selected>Choose one</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger" style="font-size:small" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Salary" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-6">
                    <input type="text" asp-for="Salary" class="form-control form-control-sm" />
                    <span asp-validation-for="Salary" class="text-danger" style="font-size:small" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="DoB" class="col-form-label col-form-label-sm col-2 text-end"></label>
                <div class="col-6">
                    <input type="text" asp-for="DoB" class="form-control form-control-sm" />
                    <span asp-validation-for="DoB" class="text-danger" style="font-size:small" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-6 offset-2">
                    <div class="form-check">
                        <input type="checkbox" asp-for="IsActive">
                        <label class="form-check-label" for="flexCheckDefault">
                            Ready to work anywhere in country
                        </label>
                    </div>
                    <span asp-validation-for="IsActive" class="text-danger" style="font-size:small" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-10">
                    <h4>Department</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>DepartmnetName</th>
                                <th>Departmentmember</th>

                                <th>
                                    <button type="submit" formnovalidate name="act" value="add" class="btn btn-sm btn-secondary">Add</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Departments.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.Departments[i].DepartmentName" class="form-control form-control-sm" />
                                        <span asp-validation-for="@Model.Departments[i].DepartmentName" class="text-danger" style="font-size:small" />
                                    </td>

                                    <td>
                                        <input asp-for="@Model.Departments[i].DepartmentMember" class="form-control form-control-sm" />
                                        <span asp-validation-for="@Model.Departments[i].DepartmentMember" class="text-danger" style="font-size:small" />
                                    </td>

                                    <td>
                                        <button type="submit" class="btn btn-danger btn-sm" formnovalidate name="act" value="remove_@i">Del</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-10">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-secondary"><a asp-action="Index" asp-controller="Employees" style="color:white; text-decoration:none;">Back to Home</a></button>
                        <button type="submit" class="btn btn-primary" name="act" value="update">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Styles
{
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />

}
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        $("#DoB").datepicker({
            format: 'yyyy-mm-dd'
        });
    </script>

}


